@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using Filmopoisk.Models
@model Film

@section Film{
    <div class="wrapper film-data">
        <div class="poster">
            <img src="https://kinopoisk-ru.clstorage.net/29Qr53Y73/c7faf8Dmx_St/Z3nqdzs8dJ8wNJIvHGKYJMEXbrGhQZPLAJiH-EHpJIypMhScxLynhKARnmOoXNNP2AX9I25CmTAzKTBlUraReUf9ewP_GTDqtcWGmvwXeUUBV57BtUVmPkRJI301iPW5DOfmb8Y_hROCcmzhqprHK9wEKPa7xpgVo-0AxIan5l-m3o2WCu1nTUBVtZz_Ef6m88WfstCVs7vB72brsE10XMiABd6kHzQisRGuk_i7Zdh98_hlS9arxxAs8uPE56ecgV-c9gtels8ThfWPbNLM9COlv2Ph1OEZAuxnmtOOt2zokESOZl310KJwzDM6yqQb_bKrFYgnOyVjjxIyBSRV7qNNDCQ4jzRcgccGHt-jbZZxxWzRoiZTmHPvFItCnwVuenKVzhVNdqKAUG4xOzqHSj7hqtZ4ZivEE0-SIpXFJJywLF7FWCzFD1PExg7_sp6XMHatkwFGQxkxvXVJM523bkpy9Yylb6VSECEu44kYpqieYNoGmkcJp9BNcNIntfU_UZ08ZDqs9P6AZ8aNXKGPhXAHPGEhZ8P7M-z1uiHcZAyJose9Vh0VEJKz7OMYyDUYDdHLBhhVacZBnrLQ5rQ1jmKub7WqPIbOsQTnvU7TvhfRVO3hIrQRqsEdJLjB3le8-POGHCd_9ZCSA4zz-ph1W71j-Vd7dkhkwP4hEoVkxKwy797mKL71z1HVZh_vgzwEI9atYrOlIwgTbebJgr9EzsshdYzXbyeRQPFcQTmohmhNELqG-3VrZAP9AMDHRtfdMcwfxTpu5r6ARwTffFPNRdBmzgEDhiNIM19naSEtpB8qg5XuhP1WYKDDvfHImyTZ_HPJBahGWXWjD5KSVxZm3xJeTBWaHIT90lTUrY5g30WxxI-gUPcBq4B-5Qmw_ddPWxPE_mb_hZIzgC0wSXkky7wiqnUZRUs1wh1zYwb05w0xX9_lSM03bAHWJU2tov2ngxaMESAlgYsyfGeqQvx2bNhSFxx1XeVB8kJvM3i6VzuM4OtUOxb5pnA_ILIWJzTcQ08_hrivZu-yN_SPvUDvhCBHTZHABDMZMs322xMthA6q0-btRk_XooOAXCEZCPcIfjFJN7mlS3fTLqAwhwQ1jnN_T8farEVtgwSUr-xBjYWTxo3DoYZzS8PsttoDrZdeKcFFztS9hfLwk4yieDpHO4wiKcaYRtpkMA4SIxTUd_8T3S-FyOzVTVO19P5PAj4l4-Wc4rA0Y6kh_3YaMp1kX7hylQ-3H_aS4LLPcRr6NUnvkormCmYJlhH_Q_Mn1uc_Y0195LhNdo9ghKVNvWK-R0MnHEDg5dOpEU71CsDchx56cMV8tk_3gfPCb-KqKabZPCA6BQgmimYiPLMDNrRFnJBMPqSJLvTdoreErS4Az_Wx1W1zAPXDetEORfiCnuS8qxIVPPROtFPgAbyzalsFWA-TyyY7hIgmA60SABUE536wjy71WI93zdNHF_5uU__nQXYOwNJU0HtBn0f607_EjovhlowEv2XCEMGvE3iaVmu88btHqcT4FnMewpKnJtTugG0MBGjN5P9zN8Vf_0MeZEFHnENy9DPJwR5VCbBNV087IbWsVazn4IIS7lDa-KQa7hIYtQhGO_ZQflCBJAYE7kIPfqeITRXMokckr_0DHUYyFQ9gYGQCShMs5uhD_4ReCeLHLyZtJ7KTgM7BWys3CT7RaVd7ZolFgR0S4yemZ-7APA8UaN9FHTIUxY1so9w1sGVd89IlwggzDRdpsyynTSlidV1VjyWjcCOMAKmKxciPUkhnGDV715MO4-L3p5VuEp_-13tOxU-zNQTs_DL_9SEXD3KS9mIpAM0n2HEMp1wpg2VftwzWYGAjnOB5mWTrn7FZNqvlK3TB_pDiVCXW7XBN7GXYLKTPgdSnzRyQ_JRSR_1hUrTz-hFMtsjQ34aMGKGF_bcsFHKwMs1jikllKtxjindYN1t00k8w8uV2Fg4yPI5l6P9Vf_BUlU_tAD1FMTbMk5I00DuB_mUoIi80zPsBtK-WvVfD8sMeE2jYRxp_gPhlqXSqV9EOIEIHBvT8sk_MNVs-1w5BBKZ9T2M8NiCUrNDARQBoUe3lKNBep07bEEbedB82UBGiLtDaKwQqzSFq1LnFaAcjDiLhx6c2r_KPv6d4PMVPAQXFbo1BHARz9J-gUVUxmXDPJxjh7xdOCKO3jSbOByBCw_3jSjsmOy4BqcVrR1olkN4AUHa1hMwSf78l2s7FXEGWBh9sos_X0SSOsRJnUkgCvkbZU__lHqrSdq8GTXQzcLDcYSloZzuP4hrlqlZZ58B84_MFVxeNc0_sx8s9Rq5jdNbezQP-FHOlTbPgB8M7sJ32CQEtdl8YcqWPdK7XQ2Ogb2DaOOSqTNC6hwl3CjRjjPCzdXclPnKNfSQoTIef46d33x1TvjWzJVyxA7VAakCM9NrQb-YteaA23IbclhLCMcxAuSlnSi_CmiRqdtm28Y6CMUXEpg5BrV0lOI3E7AGEx4-fAuwkUTbuQ3IFIqhD_df6QH-G3ZqQRsyVLrVQEjF8kXkq5kjtwCq3elbaV6GPA-H3JgQuEo8uFdqsdN6xV1Qtj6Kt1fP0v6OQBNHYcZzE2SBPda5Z45fPJR7l8jDR30GKenTJzGPqJ1kWWJYBHMEyxfb1HxA_jcVbPKTv02QH_tyTnFXCdT-iYPWyavDMVrsw3STvu8KkvQRuhKMx0mwRyNmH-v0AGOVYpJg0EO2TQfakBzyA_833yXzFDRH3Ri288rwVcZX8IuJmQljwTXTowrxkLIpBxo5Vf6YSE8FuQpjpVzofUCiVC9XJhlHdUBBXlGf-8h28tBqO5yxxJ9Wd_uKcV0HkrrFA5wB5wt4GipMNli97cqXOpF73EgPBXCFrCsToP4P6VtmHyeWx72DzJTRU_1HNvOZIfKaPAwV0H71zLBQCJU_xsAYQCUF9NOrijvWuS0LWDBUOh4LyIN3QqHimeh4Q-wbqBlmns"
                 alt="Poster not found!">
        </div>
        <div class="film-info">
            @{

                var selectedFilm = ViewBag.RandomFilm;
                //var selectedActor = ViewBag.Actors.Find(selectedFilm.MainActor);

                <p>@selectedFilm.Name</p>
                <p><b>Страна: </b> @selectedFilm.Country</p>
                <p><b>Жанр: </b> @selectedFilm.Genre</p>
                <p>
                    <b>В главных ролях: </b>
                    @foreach (Actor actor in selectedFilm.Actors)
                    {
                        <i>@actor.Name </i>
                    }
                </p>
                <p><b>Премьера в мире: </b> @selectedFilm.ReleaseDate.ToLongDateString()</p>
                <p>@selectedFilm.Description</p>
                <p><b>Оценка: </b> @selectedFilm.Score ★</p>

            }
        </div>
    </div>
}
        

@section OtherFilms{
    <div class="wrapper">
        <h1>Другие фильмы</h1>
        <table>
            <tr>
                <th>Название</th>
                <th>Оценка</th>
            </tr>

            @{
                foreach (var film in ViewBag.Films)
                {
                    <tr>
                        <td>@film.Name</td>
                        <td>@film.Score ★</td>
                    </tr>

                }
            }

        </table>
    </div>
        
}
   